*{
    margin: 0;padding: 0;
    background-color: black;
}
h1{
    color: white;
}
.container{
    width: 900px;
    height: 500px;
    margin: 150px auto;
}
.container img{
    position: absolute;
    top: 35%;
    left: 45%;
}
.container #off{
    position: absolute;
    top: 55%;
    left: 35%;
    padding: 7px 65px;
    color: white;
}
.container #on{
    position: absolute;
    top: 55%;
    left: 53%;
    padding: 7px 65px;
    color: white;
}